*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left{
  float:left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 100%;
  margin:auto;
  height: 100vh;
  background-color: rgb(81, 60, 222);
  text-align:
}

.center{
  width: 70%;
  text-align: center;
  margin: auto;
}

header{
  height: 150px;
  background-color: rgb(93, 133, 127);
}

main{
  height: 500px;
  background: rgb(138, 53, 125);
}

.col-left{
  width: 20%;
  height: 50%;
  background-color: rgb(123, 142, 70);
}

footer{
  height: 100px;
  background-color: rgb(29, 50, 140);
}

.center-section{
  width: 50%;
  height: 30%;
  background-color: rgb(198, 65, 192);
}
